{% extends 'base.html' %} 

{% block body%} 
<section class="section-content padding-y bg">
      <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
          <div class="row no-gutters">
            <aside class="col-md-6">
              <article class="gallery-wrap">
                <div class="img-big-wrap">
                  <a href="#"><img src="{{book.image.url}}" /></a>
                </div>
                <!-- img-big-wrap.// -->
              </article>
              <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
              <article class="content-body">
                <h2 class="title">{{book.title}}</h2>

                <div class="mb-3">
                  <var class="price h4">Author: {{book.author}}</var>
                </div>

                <p>
                  {{book.description}}
                </p>

                <hr />
                <p>
                  ISBN: {{book.isbn}}<br/>
                  Genre: {{book.genre}}<br/>
                  Publication Date: {{book.publication_date}}<br />
                  Availability Status: {% if book.availability_status %}Available{% else %}Not Available{% endif %}<br />
                  Available for borrowing : <b>{{book.no_of_books_available}}</b>
                </p>
                <hr />
                
                <form method="post">
                  {% csrf_token %}

                  <a href="{% url 'add_to_wishlist' book.id %}" class="btn btn-primary">
                      <span class="text">Add to Wishlist</span>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                  </a>
              </form>
              
              </article>
              <!-- product-info-aside .// -->
            </main>
            <!-- col.// -->
          </div>
          <!-- row.// -->
        </div>
        <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br />

        <div class="row">
          <div class="col-md-9">
            <header class="section-heading">
              <h3>Customer Reviews</h3>
            </header>

            <article class="box mb-3">


              <form method="post" action="{% url 'borrow_book' book.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Borrow</button>
            </form>
            <br>


            <form method="post" action="{% url 'return_book' book.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary">Return</button>
          </form>

          <form method="post" action="">
            {% csrf_token %}
            {{ review_form.as_p }}  <!-- Display the review form fields -->
            <button type="submit" class="btn btn-secondary">Submit Review</button>
          </form>
            
            </article>
          </div>
          <!-- col.// -->
        </div>
        <!-- row.// -->
      </div>
      <!-- container .//  -->
    </section>

{% endblock %}
